#available_nodes-fieldset select,
#selected_nodes-fieldset select
{ width: 100% }
#available_nodes-fieldset input { width: auto; float: right; }
#selected_nodes-fieldset input { width: auto; float: left; margin-right: 10px; }
#node-wrapper fieldset { width: 46%; padding: 1em; }
#node-wrapper div.fieldset { width: 49%; padding: 0em; }
#available_nodes-fieldset { float:left; }
#selected_nodes-fieldset { float:right; }
#edit-filter-wrapper-filter-filter-text-wrapper { width: 25%; float: left; margin:0;padding:0  }
#edit-filter-wrapper-filter-filter-text-wrapper input { width: 90%;}
